@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* GLOBAL */
:root {
	--font-family: 'Space Mono', monospace;
	/*main colors*/

	--color-yellow: #fdc800;
	--color-white: #fffffe;
	--color-black: #010000;
	--color-beige: #ffecb1;
	--color-gray: #c8c8c8;
	--color-pink: #e6204d;
	--color-orange: #e68214;
	--color-green: #37b48d;
	--color-blue: #4cace2;

	/*secondary colors*/
	--color-white-transparent: rgba(255, 255, 255, 0.7);
	--color-black-transparent: rgba(0, 0, 0, 0.9);
	--color-transparent: rgba(0, 0, 0, 0.3);

	/*variables*/
	--typewriting-speed: 4s;
	--typewriting-characters: 32;
}

*,
*::before,
*::after {
	font-family: inherit;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--color-yellow);
	color: var(--color-black);
	font-family: var(--font-family);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	perspective: 1000px;
	transform-style: preserve-3d;
}

body,
body * {
	cursor: none;
}

section {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4rem;
	scroll-snap-align: start;
	z-index: 19;
}

.title {
	height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
}

section h1 {
	font-size: 6em;
	font-weight: 700;
	text-align: center;
	color: var(--color-black);
}

section h1:after,
section h1:before {
	content: '';
}

b {
	font-weight: 700;
	color: var(--color-beige);
}

p {
	font-size: 1.5em;
	font-weight: 400;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* NAV */
.header-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
	background: transparent;
	color: var(--color-black);
}

.portfolio-logo {
	font-weight: 700;
	font-size: 1rem;
	color: var(--color-black);
	text-decoration: none;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: calc(1em / 2) 1em;
	position: relative;
	letter-spacing: 2px;
	font-size: 1rem;
}

.nav-link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 1em;
	right: 1em;
	height: 2px;
	background: currentColor;
	transform: scaleX(0);
	transition: transform 150ms ease-in-out;
}

.nav-link:hover::after {
	transform: scaleX(1);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* WELCOME section */
.welcome-page {
	max-width: 1100px;
	margin: 0 auto;
}

/* typewriter effect */
.typewriting-text {
	font-size: clamp(1rem, 2vw + 1rem, 2.4rem);
	font-family: var(--font-family);
	position: relative;
}

.sub-info {
	font-size: clamp(1rem, 2vw + 1rem, 2.4rem);
	text-align: center;
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeInUp 1.3s ease calc(var(--typewriting-speed) + 7s) forwards;
}

.typewriting-text::before,
.typewriting-text::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.typewriting-text::before {
	background: var(--color-yellow);
	animation: typewriting var(--typewriting-speed)
		steps(var(--typewriting-characters)) 1s forwards;
	animation-delay: 7s;
}

.typewriting-text::after {
	width: 0.125em;
	background: var(--color-black);
	animation: typewriting var(--typewriting-speed)
			steps(var(--typewriting-characters)) 1s forwards,
		blink 750ms steps(var(--typewriting-characters)) infinite;
	animation-delay: 7s;
}

@keyframes typewriting {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* text flip effect */
.text-flip {
	opacity: 1;
	outline: 0;
	line-height: 40px;
	position: relative;
	text-align: center;
	/* letter-spacing: 3px; */
	display: inline-block;
	text-decoration: none;
	padding: 0;
}
.text-flip:before {
	top: 0;
	left: 0;
	opacity: 1;
	font-weight: 700;
	color: var(--color-beige);
	/* padding: 0 1em; */
	display: block;
	line-height: 40px;
	transition: 0.5s;
	position: relative;
	content: attr(data-front);
	transform: translateY(0) rotateX(0);
}
.text-flip:after {
	bottom: 0;
	left: 0;
	opacity: 0;
	font-weight: 700;
	color: var(--color-beige);
	display: block;
	line-height: 40px;
	transition: 0.5s;
	position: absolute;
	content: attr(data-back);
	transform: translateY(-50%) rotateX(90deg);
	width: 100%;
}
.text-flip:hover:before {
	opacity: 0;
	transform: translateY(50%) rotateX(90deg);
}
.text-flip:hover:after {
	opacity: 1;
	transform: translateY(0) rotateX(0);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ABOUT SECTION */
.about-content-left {
	font-size: 6em;
	font-weight: 700;
}

.about-content {
	padding: 4em 0;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	grid-gap: 6em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-content p {
	font-size: 1em;
	line-height: 1.9em;
}
/* hover photo effect */
.photo-hover {
	color: var(--color-beige);
	font-weight: 700;
}

.photo-hover:hover {
	color: var(--color-black);
}

.photo-item img {
	position: fixed;
	width: 225px;
	height: 225px;
	object-fit: cover;
	border-radius: 50%;
	will-change: transform;
	top: -112.5px;
	left: -112.5px;
	z-index: 1010;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	border: 4px solid var(--color-white);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* SKILLS SECTION */
.skills-page {
	padding: 4em 0;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.skills-page h2 {
	font-weight: 700;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* PROJECTS SECTION */
.projects-page {
	padding: 4em 0;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#projects-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-item-container {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	border-radius: 20%;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.32);
}

.project-pink {
	background-color: var(--color-pink);
}
.project-orange {
	background-color: var(--color-orange);
}
.project-green {
	background-color: var(--color-green);
}
.project-blue {
	background-color: var(--color-blue);
}
.project-item {
	position: relative;
	width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 17%;
}

.project-item .img-container {
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	transition: 0.5s;
	filter: blur(0);
}

.project-item .details {
	width: 180px;
	height: 180px;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	box-sizing: border-box;
	transition: 0.5s;
	padding: 10px 20px;
}

.project-item:hover .img-container {
	opacity: 0;
}

.project-item .img-container img {
	position: fixed;
	width: 100%;
	height: 180px;
	object-fit: cover;
	object-position: center;
}

.project-item .details h2 {
	position: relative;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 10px 0;
	font-size: 1em;
	font-weight: 700;
	color: var(--color-white);
}
.project-item .details h2:after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	height: 2px;
	width: 100%;
	content: '';
	background-color: var(--color-white);
}

.details-links {
	display: flex;
}

.details-link-item-container {
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.details-link-item-container:last-child {
	margin-right: 0;
}

.details-link-item {
	transition: all 0.2s 0s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: var(--color-white);
	text-decoration: none;
	border-radius: 50%;
}

.details-link-item i {
	font-size: 1.5em;
}

.details-link-item:hover {
	color: var(--color-white-transparent);
}

/* project effect */
/*initialization*/
.project-item-effect .details {
	transform: scale(1.1);
	opacity: 0;
}

.project-item-effect h2 {
	top: -10px;
	opacity: 0;
}
.project-item-effect h2:after {
	transform: scaleX(0);
}

.project-item-effect .details-link-item-container {
	top: 20px;
	opacity: 0;
}

/*effect*/
.project-item-effect:hover .details {
	transition: all 0.4s 0s linear;
	transform: scale(1);
	opacity: 1;
}

.project-item-effect:hover h2 {
	transition: all 0.2s 0.45s linear;
	top: 0;
	opacity: 1;
}
.project-item-effect:hover h2:after {
	transition: all 0.3s 0.65s cubic-bezier(0.63, 0.01, 0, 1.39);
	transform: scaleX(1);
}

.project-item-effect:hover .details-link-item-container {
	top: 0;
	opacity: 1;
}

.project-item-effect:hover .details-link-item-container:first-child {
	transition: all 0.2s 0.85s linear;
}
.project-item-effect:hover .details-link-item-container:nth-child(2) {
	transition: all 0.2s 0.95s linear;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* WRITING SECTION */
.writing-page {
	padding: 4em 0;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.writing-page h3 {
	font-weight: 700;
}

.writing-page p {
	font-size: 0.9em;
}

.writing-item {
	width: fit-content;
	margin: 0.5em 0;
}

.writing-item-link {
	color: var(--color-black);
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	text-align: left;
	position: relative;
	width: 100%;
	display: inline-block;
	margin: 0;
}
.writing-item-link.writing-item-link-effect {
	transition: all 0.2s linear 0s;
}
.writing-item-link.writing-item-link-effect:before {
	content: '🇫🇷';
	font-size: 15px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: -35px;
	top: 2px;
	opacity: 0;
	height: 100%;
	width: 40px;
	transition: all 0.2s linear 0s;
	color: var(--color-beige);
}
.writing-item-link.writing-item-link-effect:hover {
	text-indent: -10px;
	color: var(--color-beige);
}
.writing-item-link.writing-item-link-effect:hover:before {
	opacity: 1;
	text-indent: 0px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* CONTACT SECTION */
.contact-title h1 {
	font-size: 5em;
}

.contact-page h4 {
	font-size: 3em;
}

.contact-item-link {
	color: var(--color-black);
	text-decoration: none;
	padding: 0 1em;
	text-align: center;
	position: relative;
	width: fit-content;
	overflow: hidden;
	display: inline-block;
	margin: 0;
}
.contact-item-link.contact-item-link-effect {
	transition: all 0.2s linear 0s;
}
.contact-item-link.contact-item-link-effect:before {
	content: '';
	font-family: FontAwesome;
	font-size: 25px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	top: 7px;
	opacity: 0;
	height: 100%;
	width: 40px;
	transition: all 0.2s linear 0s;
	color: var(--color-beige);
}
.contact-item-link.contact-item-link-effect:hover {
	text-indent: -20px;
	color: var(--color-beige);
}
.contact-item-link.contact-item-link-effect:hover:before {
	opacity: 1;
	text-indent: 0px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* GOODBYE SECTION */
.goodbye-item {
	width: 100%;
	margin: 0 auto;
}

.goodbye-page h1 {
	font-size: 5em;
}

/*////////////////////////////////////////////////////// EFFECTS //////////////////////////////////////////////////////////*/

/* loading screen */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	z-index: 1001;
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-loader {
	height: 70px;
	overflow: hidden;
	font-size: 4em;
	color: var(--color-black);
}

.container {
	overflow: hidden;
	height: 70px;
}

.list {
	margin: 0;
	padding: 0 50px;
	list-style: none;
	animation-name: transition;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 70px;
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-weight: bolder;
}

.loader .content-loader:nth-child(1) .list {
	animation-delay: 0s;
}

.loader .content-loader:nth-child(2) .list {
	animation-delay: 0.5s;
}

.loader .content-loader:nth-child(3) .list {
	animation-delay: 1s;
}

.loader .content-loader:nth-child(4) .list {
	animation-delay: 1.5s;
}

.loader .content-loader:nth-child(5) .list {
	animation-delay: 2s;
}

@keyframes transition {
	0%,
	13% {
		transform: translateY(0) rotateY(0);
	}
	17%,
	29%,
	33%,
	46%,
	50%,
	63% {
		transform: translateY(-50%) rotateY(360deg);
	}
	67%,
	79% {
		transform: translateY(0) rotateY(0);
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background-color: var(--color-yellow);
	z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded loading screen */
.loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%);
}

.loaded .loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
	transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* snap scrolling effect */
.main-container {
	width: 100vw;
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	background-color: var(--color-yellow);
	/*text hover effect feature*/
	top: 0;
	left: 0;
	position: absolute;
	mix-blend-mode: lighten;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* custom cursor (GSAP) */
.cursor {
	position: fixed;
	background-color: var(--color-white);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: -7.5px 0 0 -7.5px;
	will-change: transform;
	user-select: none;
	pointer-events: none;
	z-index: 1002;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 3D hover title effect */
section.about-title .about-title-content,
section.skills-title .skills-title-content,
section.projects-title .projects-title-content,
section.writing-title .writing-title-content,
section.contact-title .contact-title-content {
	pointer-events: none;
	transform: translateZ(0);
	padding: 30px;
	border-radius: 5px;
	margin: auto;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	display: flex;
	position: relative;
	width: fit-content;
	text-align: center;
}
section.about-title h1,
section.skills-title h1,
section.projects-title h1,
section.writing-title h1,
section.contact-title h1 {
	transform: translateZ(50px);
	filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
}
/* section.about-title .about-title-content:after,
section.skills-title .skills-title-content:after,
section.projects-title .projects-title-content:after,
section.writing-title .writing-title-content:after,
section.contact-title .contact-title-content:after {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 10px;
	border-radius: 50%;
	left: 0;
	bottom: -70px;
	box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
} */
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* transition effect */
/* fade-in */
.fade-in {
	opacity: 0;
	transition: opacity 350ms ease-in;
}
.fade-in.appear {
	opacity: 1;
}

/* from-left & from-right */
.from-left {
	transform: translateX(-50%);
}
.from-right {
	transform: translateX(50%);
}
.from-left,
.from-right {
	transition: opacity 450ms ease-in, transform 400ms ease-in;
	opacity: 0;
}
.from-left.appear,
.from-right.appear {
	transform: translateX(0);
	opacity: 1;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
