@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* GLOBAL */
:root {
	--font-family: 'Space Mono', monospace;
	/*main colors*/
	--color-yellow: hsl(47, 100%, 50%);
	--color-white: hsl(60, 100%, 100%);
	--color-black: hsl(0, 100%, 0%);
	--color-beige: hsl(45, 100%, 85%);
	--color-gray: hsl(0, 0%, 78%);

	/*secondary colors*/
	--color-shadow-text-black: hsla(0, 0%, 0%, 0.1);
	--color-shadow-text-yellow: hsla(60, 100%, 50%, 0.1);
	--color-white-transparent: hsla(0, 0%, 100%, 0.7);
	--color-black-transparent: hsla(0, 0%, 0%, 0.9);
	--color-transparent: hsla(0, 0%, 0%, 0.3);

	/*space*/
	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-sm: 1rem;
	--space-md: 1.5rem;
	--space-lg: 2rem;
	--space-xl: 3rem;
	--space-xxl: 6rem;

	/*variables*/
	--typewriting-speed: 4s;
	--typewriting-characters: 32;

	/*elements in color*/
	--main-text: var(--color-black);
	--interactive-text: var(--color-beige);
	--title-text: var(--color-black);
	--background-main-color: var(--color-yellow);
	--cursor: var(--color-white);
	--icons: var(--color-black);
	--shadow-text: var(--color-shadow-text-black);

	color-scheme: dark light;
}

*,
*::before,
*::after {
	font-family: inherit;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--background-main-color);
	color: var(--main-text);
	font-family: var(--font-family);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	perspective: 1000px;
	transform-style: preserve-3d;
}

body,
body * {
	cursor: none;
}

section {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: calc(var(--space-xl) + var(--space-sm));
	scroll-snap-align: start;
	z-index: 19;
}

.title {
	height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
}

section h1 {
	font-size: var(--space-xxl);
	font-weight: 700;
	text-align: center;
	color: var(--title-text);
}

section h1:after,
section h1:before {
	content: '';
}

b {
	font-weight: 700;
	color: var(--interactive-text);
}

p {
	font-size: var(--space-md);
	font-weight: 400;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* NAV */
.header-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-sm) var(--space-lg);
	background: transparent;
	color: var(--icons);
}

.portfolio-logo {
	font-weight: 700;
	font-size: var(--space-sm);
	color: var(--icons);
	text-decoration: none;
	padding: calc(var(--space-sm) / 2) var(--space-sm);
	position: relative;
}

.portfolio-logo:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: var(--space-sm);
	right: var(--space-sm);
	height: 2px;
	background: currentColor;
	transform: scaleX(0);
	transition: transform 150ms ease-in-out;
}

.portfolio-logo:hover::after {
	transform: scaleX(1);
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: calc(var(--space-sm) / 2) var(--space-sm);
	position: relative;
	letter-spacing: 2px;
	font-size: var(--space-sm);
}

.nav-link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: var(--space-sm);
	right: var(--space-sm);
	height: 2px;
	background: currentColor;
	transform: scaleX(0);
	transition: transform 150ms ease-in-out;
}

.nav-link:hover::after {
	transform: scaleX(1);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* WELCOME section */
.welcome-page {
	max-width: 1100px;
	margin: 0 auto;
}

/* typewriter effect */
.typewriting-text {
	font-size: clamp(var(--space-sm), 2vw + var(--space-sm), 2.4rem);
	font-family: var(--font-family);
	position: relative;
}

.sub-info {
	font-size: clamp(var(--space-sm), 2vw + var(--space-sm), 2.4rem);
	text-align: center;
	opacity: 0;
	transform: translateY(var(--space-xl));
	animation: fadeInUp 1.3s ease calc(var(--typewriting-speed) + 7s) forwards;
}

.typewriting-text::before,
.typewriting-text::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.typewriting-text::before {
	background: var(--background-main-color);
	animation: typewriting var(--typewriting-speed)
		steps(var(--typewriting-characters)) 1s forwards;
	animation-delay: 7s;
}

.typewriting-text::after {
	width: 0.125em;
	background: var(--main-text);
	animation: typewriting var(--typewriting-speed)
			steps(var(--typewriting-characters)) 1s forwards,
		blink 750ms steps(var(--typewriting-characters)) infinite;
	animation-delay: 7s;
}

@keyframes typewriting {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* text flip effect */
.text-flip {
	opacity: 1;
	outline: 0;
	line-height: calc(var(--space-xs) + var(--space-lg));
	position: relative;
	text-align: center;
	/* letter-spacing: 3px; */
	display: inline-block;
	text-decoration: none;
	padding: 0;
}
.text-flip:before {
	top: 0;
	left: 0;
	opacity: 1;
	font-weight: 700;
	color: var(--interactive-text);
	/* padding: 0 1em; */
	display: block;
	line-height: calc(var(--space-xs) + var(--space-lg));
	transition: 0.5s;
	position: relative;
	content: attr(data-front);
	transform: translateY(0) rotateX(0);
}
.text-flip:after {
	bottom: 0;
	left: 0;
	opacity: 0;
	font-weight: 700;
	color: var(--interactive-text);
	display: block;
	line-height: calc(var(--space-xs) + var(--space-lg));
	transition: 0.5s;
	position: absolute;
	content: attr(data-back);
	transform: translateY(-50%) rotateX(90deg);
	width: 100%;
}
.text-flip:hover:before {
	opacity: 0;
	transform: translateY(50%) rotateX(90deg);
}
.text-flip:hover:after {
	opacity: 1;
	transform: translateY(0) rotateX(0);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ABOUT SECTION */
.about-page {
	padding: calc(var(--space-xl) + var(--space-sm)) 0;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	/* grid-gap: 4em; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.about-content-left {
	font-size: calc(var(--space-lg) + var(--space-xl));
	font-weight: 700;
	width: 470px;
}

.about-page p {
	max-width: 500px;
	font-size: var(--space-sm);
	line-height: var(--space-lg);
	text-align: justify;
}

.about-page .br {
	display: block;
	margin-bottom: var(--space-xs);
}
/* hover photo effect */
.photo-hover {
	color: var(--interactive-text);
	font-weight: 700;
}

.photo-hover:hover {
	color: var(--main-text);
}

.photo-item img {
	position: fixed;
	width: 225px;
	height: 225px;
	object-fit: cover;
	border-radius: 50%;
	will-change: transform;
	top: -112.5px;
	left: -112.5px;
	z-index: 1010;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	border: 4px solid var(--cursor);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* SKILLS SECTION */
.skills-page {
	padding: calc(var(--space-xl) + var(--space-sm)) 0;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	/* grid-gap: calc(var(--space-sm) + var(--space-xl)); */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.skills-content-right {
	font-size: calc(var(--space-lg) + var(--space-xl));
	font-weight: 700;
	width: 370px;
}

.skills-content-left p {
	max-width: 500px;
	font-size: var(--space-sm);
	line-height: var(--space-lg);
	text-align: justify;
}

.skills-page h2 {
	font-weight: 700;
}

.web {
	margin-bottom: var(--space-md);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* PROJECTS SECTION */
.projects-page {
	padding: calc(var(--space-xl) + var(--space-sm)) 0;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.projects-left,
.projects-right {
	width: 450px;
	display: flex;
	flex-direction: column;
}

.project-item {
	margin: var(--space-xs) 0;
}

.project-item h2 {
	font-weight: 700;
}

.project-intro {
	font-size: 0.9em;
}

.project-links {
	display: flex;
	padding: var(--space-xs) 0;
}

.project-link-container {
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.project-link-container:last-child {
	margin-right: 0;
}

.project-link-item {
	transition: all 0.2s 0s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: var(--main-text);
	text-decoration: none;
	border-radius: 50%;
}

.project-link-item i {
	font-size: var(--space-md);
}

.project-link-item:hover {
	color: var(--interactive-text);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* WRITING SECTION */
.writing-page {
	padding: calc(var(--space-xl) + var(--space-sm)) 0;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	grid-gap: calc(var(--space-sm) + var(--space-xl));
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.writing-content-left {
	font-size: calc(var(--space-lg) + var(--space-xl));
	font-weight: 700;
	width: 470px;
}

.writing-content-right {
	width: 470px;
	font-size: var(--space-sm);
	line-height: var(--space-lg);
}

.writing-item {
	width: fit-content;
	margin: var(--space-sm) 0;
}

.writing-item p {
	font-size: var(--space-sm);
}

.writing-item-link {
	color: var(--interactive-text);
	text-decoration: none;
	font-size: var(--space-sm);
	/* font-weight: 700; */
	text-align: left;
	position: relative;
	width: 100%;
	display: inline-block;
	margin: 0;
}
.writing-item-link.writing-item-link-effect {
	transition: all 0.2s linear 0s;
}

.writing-item-link.writing-item-link-effect:hover {
	color: var(--main-text);
	font-weight: 700;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* CONTACT SECTION */
.contact-title h1 {
	font-size: calc(var(--space-lg) + var(--space-xl));
}

.contact-page h4 {
	font-size: var(--space-xl);
}

.contact-item-link {
	color: var(--main-text);
	text-decoration: none;
	padding: 0 var(--space-sm);
	text-align: center;
	position: relative;
	width: fit-content;
	overflow: hidden;
	display: inline-block;
	margin: 0;
}
.contact-item-link.contact-item-link-effect {
	transition: all 0.2s linear 0s;
}

.contact-item-link.contact-item-link-effect:hover {
	color: var(--interactive-text);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* GOODBYE SECTION */
.goodbye-item {
	width: 100%;
	margin: 0 auto;
}

.goodbye-page h1 {
	font-size: calc(var(--space-lg) + var(--space-xl));
}

/*////////////////////////////////////////////////////// EFFECTS //////////////////////////////////////////////////////////*/

/* loading screen */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	z-index: 1001;
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-loader {
	height: 70px;
	overflow: hidden;
	font-size: calc(var(--space-sm) + var(--space-xl));
	color: var(--main-text);
}

.container {
	overflow: hidden;
	height: 70px;
}

.list {
	margin: 0;
	padding: 0 50px;
	list-style: none;
	animation-name: transition;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 70px;
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-weight: bolder;
}

.loader .content-loader:nth-child(1) .list {
	animation-delay: 0s;
}

.loader .content-loader:nth-child(2) .list {
	animation-delay: 0.5s;
}

.loader .content-loader:nth-child(3) .list {
	animation-delay: 1s;
}

.loader .content-loader:nth-child(4) .list {
	animation-delay: 1.5s;
}

.loader .content-loader:nth-child(5) .list {
	animation-delay: 2s;
}

@keyframes transition {
	0%,
	13% {
		transform: translateY(0) rotateY(0);
	}
	17%,
	29%,
	33%,
	46%,
	50%,
	63% {
		transform: translateY(-50%) rotateY(360deg);
	}
	67%,
	79% {
		transform: translateY(0) rotateY(0);
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background-color: var(--background-main-color);
	z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded loading screen */
.loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%);
}

.loaded .loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
	transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* snap scrolling effect */
.main-container {
	width: 100vw;
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	background-color: var(--background-main-color);
	/*text hover effect feature*/
	top: 0;
	left: 0;
	position: absolute;
	mix-blend-mode: lighten;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* custom cursor (GSAP) */
.cursor {
	position: fixed;
	background-color: var(--cursor);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: -7.5px 0 0 -7.5px;
	will-change: transform;
	user-select: none;
	pointer-events: none;
	z-index: 1002;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 3D hover title effect */
section.about-title .about-title-content,
section.skills-title .skills-title-content,
section.projects-title .projects-title-content,
section.writing-title .writing-title-content,
section.contact-title .contact-title-content {
	pointer-events: none;
	transform: translateZ(0);
	padding: 30px;
	border-radius: 5px;
	margin: auto;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	display: flex;
	position: relative;
	width: fit-content;
	text-align: center;
}
section.about-title h1,
section.skills-title h1,
section.projects-title h1,
section.writing-title h1,
section.contact-title h1 {
	transform: translateZ(50px);
	filter: drop-shadow(10px 10px 0 var(--shadow-text));
}
/* section.about-title .about-title-content:after,
section.skills-title .skills-title-content:after,
section.projects-title .projects-title-content:after,
section.writing-title .writing-title-content:after,
section.contact-title .contact-title-content:after {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 10px;
	border-radius: 50%;
	left: 0;
	bottom: -70px;
	box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
} */
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* transition effect */
/* fade-in */
.fade-in {
	opacity: 0;
	transition: opacity 350ms ease-in;
}
.fade-in.appear {
	opacity: 1;
}

/* from-left & from-right */
.from-left {
	transform: translateX(-50%);
}
.from-right {
	transform: translateX(50%);
}
.from-left,
.from-right {
	transition: opacity 450ms ease-in, transform 400ms ease-in;
	opacity: 0;
}
.from-left.appear,
.from-right.appear {
	transform: translateX(0);
	opacity: 1;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* dark light mode */

@media (prefers-color-scheme: dark) {
	:root {
		/*elements in color*/
		--main-text: var(--color-white);
		--interactive-text: var(--color-yellow);
		--title-text: var(--color-white);
		--background-main-color: var(--color-black);
		--cursor: var(--color-yellow);
		--icons: var(--color-yellow);
		--shadow-text: var(--color-shadow-text-yellow);
	}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* responsive design */

/*welcome section*/
@media (max-width: 726px) {
	.typewriting-text,
	.sub-info {
		font-size: var(--space-md);
	}
}

@media (max-width: 600px) {
	.typewriting-text,
	.sub-info {
		font-size: calc(var(--space-md) - var(--space-xxs));
	}

	.welcome-page h1 {
		font-size: calc(var(--space-xxl) - var(--space-md));
	}
}

@media (max-width: 520px) {
	.typewriting-text,
	.sub-info {
		font-size: calc(var(--space-md) - var(--space-xs));
	}
}

/*about section*/
@media (max-width: 1050px) {
	.about-content-left {
		font-size: calc(var(--space-md) + var(--space-xl));
		margin-left: var(--space-lg);
	}

	.about-page p {
		font-size: calc(var(--space-sm) - var(--space-xxs));
		margin-right: var(--space-lg);
	}
}

@media (max-width: 990px) {
	.about-content-left {
		margin: 0 var(--space-sm) 0 var(--space-lg);
	}

	.about-page p {
		margin: 0 var(--space-lg) 0 var(--space-sm);
		text-align: start;
	}
}

@media (max-width: 750px) {
	.about-content-left {
		font-size: calc(var(--space-lg) + var(--space-xxs));
	}

	.about-page p {
		font-size: calc(var(--space-sm) - var(--space-xxs));
		line-height: var(--space-md);
	}
}

/*skills section*/
@media (max-width: 1050px) {
	.skills-content-left {
		margin-left: var(--space-lg);
	}

	.skills-content-right {
		font-size: calc(var(--space-md) + var(--space-xl));
		margin-right: var(--space-lg);
	}
}

@media (max-width: 950px) {
	.skills-content-left {
		margin: 0 var(--space-sm) 0 var(--space-lg);
	}

	.skills-content-right {
		margin: 0 var(--space-lg) 0 var(--space-sm);
	}

	.skills-content-left p {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}

	.skills-page h2 {
		font-size: calc(var(--space-lg) - var(--space-xs));
	}
}

@media (max-width: 750px) {
	.skills-content-left p {
		font-size: calc(var(--space-sm) - var(--space-xxs));
		line-height: var(--space-md);
		text-align: start;
	}

	.skills-content-right {
		font-size: calc(var(--space-xl) + var(--space-xxs));
	}
}
/*projects section*/
@media (max-width: 835px) {
	.projects-title-content h1 {
		font-size: calc(var(--space-xxl) - var(--space-sm));
	}
}

@media (max-width: 727px) {
	.projects-title-content h1 {
		font-size: calc(var(--space-xxl) - var(--space-lg));
	}
}

@media (max-width: 580px) {
	.projects-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-xs));
	}
}

@media (max-width: 1050px) {
	.projects-left {
		margin-left: var(--space-xl);
	}

	.projects-right {
		margin-right: var(--space-xl);
	}
}

@media (max-width: 980px) {
	.projects-left {
		margin: 0 var(--space-sm) 0 var(--space-xl);
	}

	.projects-right {
		margin: 0 var(--space-xl) 0 var(--space-sm);
	}
}

@media (max-width: 640px) {
	.project-item h2 {
		font-size: var(--space-sm);
	}

	.project-intro {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}
}

/*writing section*/
@media (max-width: 650px) {
	.writing-title-content h1 {
		font-size: calc(var(--space-xxl) - var(--space-md));
	}
}

@media (max-width: 1050px) {
	.writing-content-left {
		/* font-size: calc(var(--space-md) + var(--space-xl)); */
		margin-left: var(--space-lg);
	}

	.writing-content-right a {
		font-size: var(--space-sm);
	}
	.writing-intro {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}

	.writing-content-right p {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}

	.writing-content-right {
		margin-right: var(--space-lg);
	}
}

@media (max-width: 870px) {
	.writing-content-left {
		font-size: calc(var(--space-md) + var(--space-xl));
	}

	.writing-content-right a {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}
}

@media (max-width: 730px) {
	.writing-content-left {
		font-size: calc(var(--space-lg) + var(--space-lg));
	}
}

@media (max-width: 701px) {
	.writing-content-right {
		line-height: calc(var(--space-lg) - var(--space-xs));
	}
}

@media (max-width: 650px) {
	.writing-content-left {
		font-size: calc(var(--space-lg) + var(--space-sm));
	}

	.writing-content-right {
		line-height: calc(var(--space-md) - var(--space-xs));
	}
}

/*contact section*/
@media (max-width: 1022px) {
	.contact-title-content h1 {
		font-size: calc(var(--space-xxl) - var(--space-md));
	}
}

@media (max-width: 761px) {
	.contact-title-content h1 {
		font-size: calc(var(--space-xxl) - var(--space-xl));
	}
}

@media (max-width: 530px) {
	.contact-title-content h1 {
		font-size: calc(var(--space-xl) - var(--space-xs));
	}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* responsive design mobile */
@media screen and (max-device-width: 420px) {
	/*loader*/
	.loader {
		width: 400px;
	}
	.content-loader {
		font-size: calc(var(--space-sm) + var(--space-md));
	}
	.list {
		padding: 0 20px;
	}

	/*welcome*/
	.welcome-page h1 {
		font-size: calc(var(--space-xl) + var(--space-xs));
	}

	.typewriting-text,
	.sub-info {
		font-size: calc(var(--space-xxs) + var(--space-xs));
	}

	.sub-info {
		margin: var(--space-sm) 0;
	}

	.text-flip:before,
	.text-flip:after {
		line-height: calc(var(--space-xs) + var(--space-xs));
	}

	/*about*/
	.about-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-sm));
	}
	.about-content-left {
		font-size: calc(var(--space-md) + var(--space-xxs));
	}

	.about-page p {
		font-size: calc(var(--space-sm) - var(--space-xs));
		line-height: var(--space-sm);
	}

	/*skills*/
	.skills-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-sm));
	}
	.skills-content-left p {
		font-size: calc(var(--space-sm) - var(--space-xs));
		line-height: var(--space-sm);
	}

	.skills-content-left h2 {
		font-size: calc(var(--space-md) - var(--space-xs));
	}

	.skills-content-right {
		font-size: calc(var(--space-md) + var(--space-xxs));
	}

	/*projects*/
	.projects-title-content h1 {
		font-size: calc(var(--space-lg) + var(--space-xs));
	}
	.project-item h2 {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}
	.project-intro {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}

	/*writing*/
	.writing-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-xs));
	}
	.writing-content-left {
		font-size: calc(var(--space-md) + var(--space-xxs));
	}
	.writing-content-right a {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}
	.writing-intro {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}
	.writing-content-right p {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}

	/*contact*/
	.contact-title-content h1 {
		font-size: calc(var(--space-md) + var(--space-xs));
	}
	.contact-item a {
		font-size: calc(var(--space-sm) + var(--space-xs));
	}

	/*goodbye*/
	.goodbye-page h1 {
		font-size: calc(var(--space-xl) + var(--space-sm));
	}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (orientation: landscape) and (max-device-width: 840px) {
	/*welcome*/
	.welcome-page h1 {
		font-size: calc(var(--space-xl) + var(--space-xs));
	}
	.typewriting-text,
	.sub-info {
		font-size: calc(var(--space-xxs) + var(--space-xs));
	}
	.sub-info {
		margin: var(--space-sm) 0;
	}

	.text-flip:before,
	.text-flip:after {
		line-height: calc(var(--space-xs) + var(--space-xs));
	}
	/*about*/
	.about-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-sm));
	}
	.about-content-left {
		font-size: calc(var(--space-md) + var(--space-xxs));
	}
	.about-page p {
		font-size: calc(var(--space-sm) - var(--space-xs));
		line-height: var(--space-sm);
	}
	/*skills*/
	.skills-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-sm));
	}
	.skills-content-left p {
		font-size: calc(var(--space-sm) - var(--space-xs));
		line-height: var(--space-sm);
	}
	.skills-content-left h2 {
		font-size: calc(var(--space-md) - var(--space-xs));
	}
	.skills-content-right {
		font-size: calc(var(--space-md) + var(--space-xxs));
	}
	/*projects*/
	.projects-title-content h1 {
		font-size: calc(var(--space-lg) + var(--space-xs));
	}
	.project-item {
		margin: 0;
	}
	.project-item h2 {
		font-size: calc(var(--space-sm) - var(--space-xxs));
	}
	.project-intro {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}
	.project-links {
		padding: var(--space-xxs) 0;
	}
	.project-link-item i {
		font-size: var(--space-sm);
	}
	/*writing*/
	.writing-title-content h1 {
		font-size: calc(var(--space-xl) + var(--space-xs));
	}
	.writing-content-left {
		font-size: calc(var(--space-md) + var(--space-xxs));
	}
	.writing-content-right a {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}
	.writing-intro {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}
	.writing-content-right p {
		font-size: calc(var(--space-sm) - var(--space-xs));
	}
	.writing-content-right {
		line-height: var(--space-sm);
	}
	/*contact*/
	.contact-title-content h1 {
		font-size: calc(var(--space-md) + var(--space-xs));
	}
	.contact-item a {
		font-size: calc(var(--space-sm) + var(--space-xs));
	}
	/*goodbye*/
	.goodbye-page h1 {
		font-size: calc(var(--space-xl) + var(--space-sm));
	}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* disable animation */
@media all and (max-device-width: 840px) {
	/*nav & transition section*/
	.header-container {
		background-color: var(--background-main-color);
	}
	.portfolio-logo:after,
	.nav-link:after,
	.fade-in,
	.from-left,
	.from-right {
		transition: none !important;
	}
	/*3d effect*/
	.about-title-content,
	.skills-title-content,
	.projects-title-content,
	.writing-title-content,
	.contact-title-content {
		transform: none !important;
	}
	/*snap scrolling*/
	.main-container {
		scroll-snap-type: none;
	}
	/*cursor*/
	.cursor {
		display: none;
	}
	/*welcome*/
	.text-flip:after {
		transform: none !important;
	}
	.text-flip:hover:before,
	.text-flip:hover:after {
		transition: none !important;
		transform: none !important;
	}
	/*about*/
	.photo-hover {
		color: var(--main-text);
	}
	.photo-item img {
		display: none;
	}
	/*project & writing & contact*/
	.project-link-item,
	.writing-item-link.writing-item-link-effect,
	.contact-item-link.contact-item-link-effect {
		transition: none !important;
	}
}
